.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0; 
    transition: 1s;
    background-color: var(--secundary-color);
}

.form-register {
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.login-container.move .form-login {
    transform: translateX(100%);
}

.login-container.move .form-register {
    transform: translateX(0%);
    opacity: 1;
    z-index: 1;
}