.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0; 
}

.form-login {
    background-color: var(--secundary-color);
}

.form-register {
    background-color: var(--secundary-color);
}

