.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    color: var(--text-color-light);
    text-align: center;
    transition: 1s;
    z-index: 100;
}

.login-container.move .overlay-container {
    z-index: +1;
    transform: translateX(0%);
}